@use "../utils" as *;

/*--
    - Background color
-----------------------------------------*/
.dark-bg-1 {
  background: var(--body-1);
}
.dark-bg-2 {
  background: var(--body-2);
}
.gd-bg {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    4deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 21, 30, 1) 100%
  );
}

.white-bg {
  background: var(--common-white);
}
