@use "../utils" as *;

/*----------------------------------------*/
/*  03. Blog CSS START
/*----------------------------------------*/

.blog-section {
  &.one {
    background: var(--common-body-1);
    z-index: 9;
    padding: 120px 0;
    position: relative;
    .section-title-shape-one {
      margin-bottom: 70px;
    }
    .blog-items {
      position: relative;
      z-index: 9;
      margin: 0 8px;
      box-shadow: 0px 4.8px 24.4px -6px rgba(19, 16, 34, 0.1),
        0px 4px 13px -2px rgba(19, 16, 34, 0.06);
      .img-file {
        border-radius: 8px 8px 0 0;
        overflow: hidden;
      }
      .text-file {
        background: var(--common-white);
        width: 100%;
        padding: 20px;
        border-radius: 0 0 8px 8px;
        .intro {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .dp-img {
            width: 60px;
            height: 60px;
            overflow: hidden;
            border-radius: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .admin {
            margin: 0;
            font-weight: 700;
            color: var(--text-p-1);
            font-size: 18px;
          }
          span {
            color: var(--text-p-1);
          }
          .date {
            background: var(--common-body-1);
            padding: 5px 12px;
            border-radius: 8px;
            span {
              color: var(--common-white);
            }
            &:hover {
              animation: pulse-small 0.8s;
            }
          }
        }
        .title {
          margin-top: 20px;

          h2 {
            font-size: 20px;
            font-weight: var(--fw-800);
            color: var(--text-h);
            line-height: 1.2;
            transition: all 0.1s linear;
            a {
              transition: all 0.1s linear;
            }
            &:hover {
              color: var(--theme-1);
            }
          }
          p {
            color: var(--text-p-1);
            margin: 0;
          }
        }
      }
      &::after {
        content: " ";
        width: 98%;
        height: 98%;
        z-index: -3;
        position: absolute;
        top: auto;
        bottom: 1px;
        left: 1px;
        border-radius: 12px;
        background-image: linear-gradient(
          100deg,
          var(--theme-1),
          var(--theme-2)
        );
        background-repeat: repeat-x;
        outline: 1px solid transparent;
        transition: all 0.5s;
      }
      &:hover::after {
        transform: rotate(2deg) translateX(-6px) translateY(15px);
      }
    }
    .inner-btn {
      margin-top: 70px;
    }
    .shape-image {
      .shape-1 {
        left: 0;
        bottom: 0;
        z-index: -1;
        width: 26%;
        opacity: 0.8;
      }
      .shape-2 {
        right: 30px;
        bottom: -40px;
        z-index: -1;
        width: 16%;
      }
      .shape-3 {
        left: -2px;
        top: 70px;
        z-index: -1;
        width: 50px;
      }
      .shape-4 {
        right: 86px;
        top: 95px;
        z-index: -1;
        width: 42px;
      }
    }
  }
}
