@use "../utils" as *;

/*----------------------------------------*/
/*  00. Contact CSS START
/*----------------------------------------*/

.contact-section {
  background: var(--common-body-1);
  z-index: 9;
  padding: 120px 0;
  position: relative;
  overflow: hidden;
  .section-title-shape-one {
    margin-bottom: 30px;
  }

  .contact-form {
    .form-author,
    .form-email,
    .form-web,
    .form-comment {
      padding-right: 20px;
      width: 100%;
      label {
        display: block;
      }
      input {
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 5px;
        padding: 5px 15px;
      }
    }

    .form-comment {
      textarea {
        width: 100%;
        height: 200px;
        border: none;
        border-radius: 5px;
        padding: 10px 15px;
        &:focus-visible {
          outline: none !important;
        }
      }
    }

    .form-submit {
      margin-top: 20px;
    }
    .required {
      color: red;
    }
  }
  .appointment {
    margin-top: 15px;
    .title {
      h4 {
        font-size: 22px;
        line-height: normal;
      }
      p {
        font-size: 15px;
      }
    }
    .table {
      thead {
        tr {
          th {
            color: var(--common-white);
            background: var(--theme-1);
            font-size: 16px;
            font-weight: 800;
          }
        }
      }
      tbody {
        tr {
          th,
          td {
            color: var(--common-white);
          }
        }
      }
    }
  }
  .get-in-touch {
    margin-top: 80px;
    .title {
      h4 {
        font-size: 16px;
        line-height: normal;
      }
      h2 {
        margin-top: 15px;
        font-size: 22px;
        line-height: normal;
      }
    }
    .text {
      margin-top: 20px;

      p {
        font-size: 15px;
      }
    }
  }
  .location-tag {
    .item {
      background: var(--common-white);
      padding: 20px;
      border-radius: 8px;
      .icon {
        i {
          color: var(--theme-1);
          font-size: 50px;
        }
      }
      .view {
        margin-top: 16px;
        h3 {
          font-size: 20px;
          font-weight: 700;
          line-height: normal;
          color: var(--text-h);
        }
        p {
          font-size: 15px;
          color: var(--text-p-1);
          margin-bottom: 0;
          &:last-child {
            margin-top: 10px;
            font-size: 20px;
          }
        }
      }
    }
  }
}
