@use "../utils" as *;

/*----------------------------------------*/
/*  04. Faq CSS START
/*----------------------------------------*/

.faq-section {
  &.one {
    background: linear-gradient(180deg, #243949 0%, #00151e 100%);
    padding: 120px 0;
    position: relative;
    overflow: hidden;
    .faq-inner {
      margin-top: 110px;
      .icon-shape {
        width: 80px;
        height: 80px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .intro {
        margin-top: 15px;
        h3 {
          font-size: 18px;
          line-height: 1.2;
          font-weight: var(--fw-600);
        }
      }
      .faq-list {
        margin-top: 15px;
        .accordion {
          .accordion-item {
            margin-bottom: 16px;
            border-radius: 5px;
            overflow: hidden;
            .accordion-header {
              .accordion-button {
                padding: 0px 16px;
                font-size: 15px !important;
                font-weight: 600;
                background: var(--theme-1);
                color: var(--common-white);
                &.collapsed {
                  background: var(--common-white);
                  color: var(--text-h);
                }
                &:focus {
                  z-index: 3;
                  border-color: transparent;
                  outline: 0;
                  box-shadow: none !important;
                }
                &::after {
                  flex-shrink: 0;
                  width: 1.25rem;
                  height: 1.25rem;
                  margin-left: auto;
                  font-family: "Font Awesome 5 Pro";
                  font-weight: 900;
                  content: "\2b";
                  background-image: none;
                  transform: none;
                  position: absolute;
                  right: 14px;
                  top: 0;
                }
                &:not(.collapsed)::after {
                  font-family: "Font Awesome 5 Pro";
                  font-weight: 900;
                  content: "\f068";
                  background-image: none;
                  transform: none;
                  position: absolute;
                  right: 14px;
                  top: 0;
                }
              }
            }
            .accordion-collapse {
              background: var(--common-white);
              color: var(--text-p-1);
              font-weight: 600;
            }
          }
        }
      }
    }
    .shape-image {
      .shape-img-1 {
        left: -12px;
        top: 8%;
        img {
          width: 60px;
        }
      }
      .shape-img-2 {
        top: -21px;
        right: -7px;
        img {
          width: 160px;
        }
      }
      .shape-img-3 {
        top: 13%;
        right: 14%;
        -webkit-animation: scale-down-center 15s linear infinite
          alternate-reverse both;
        animation: scale-down-center 15s linear infinite alternate-reverse both;
        img {
          width: 120px;
        }
      }
      .shape-img-4 {
        bottom: 21%;
        right: 20px;
        -webkit-animation: slide-top 10s linear 0.3s infinite alternate-reverse
          both;
        animation: slide-top 10s linear 0.3s infinite alternate-reverse both;
        img {
          width: 40px;
        }
      }
      .shape-img-5 {
        bottom: 7px;
        left: -28px;
        img {
          width: 300px;
        }
      }
    }
  }
}
