@use "../utils" as *;

/*----------------------------------------*/
/*  00. SERVICES CSS START
/*----------------------------------------*/

.service-section {
  background: var(--common-body-1);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
  min-height: auto;
  &.one {
    position: relative;
    z-index: 9;
    .section-title-shape-one {
      margin-bottom: 60px;
    }

    .section-wrapper {
      position: relative;
      margin-bottom: 30px;
      transition: all 0.2s linear;
      .wrapper-inner {
        background: var(--common-white);
        padding: 25px 20px;
        border-radius: 5px;
        display: flex;
        align-items: flex-start;
        gap: 15px;
        .img-file {
          width: 60px;
          height: 60px;
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .text-file {
          width: 80%;
          h3 {
            font-size: 20px;
            font-weight: var(--fw-800);
            line-height: 1.2;
            color: var(--text-h);
            transition: all 0.1s linear !important;
            &:hover {
              color: var(--theme-1);
            }
          }
          p {
            font-size: 15px;
            color: var(--text-p-1);
            margin: 0;
          }
        }
      }
      &:hover {
        transform: translateY(-5px);
      }
    }
    .inner-btn {
      margin-top: 15px;
    }
    .shape-image {
      .shape-1 {
        top: 24px;
        left: 0;
        img {
          width: 140px;
        }
      }
      .shape-2 {
        top: 8%;
        right: 20%;
        animation: animationFramesOne 25s linear infinite;
        -webkit-animation: animationFramesOne 25s linear infinite;
        img {
          width: 50px;
        }
      }
      .shape-3 {
        top: 8%;
        left: 20%;
        animation: animationFramesOne 35s linear infinite;
        -webkit-animation: animationFramesOne 35s linear infinite;
        img {
          width: 20px;
        }
      }
      .shape-4 {
        bottom: 15%;
        left: 20%;
        animation: animationFramesOne 35s linear infinite;
        -webkit-animation: animationFramesOne 35s linear infinite;
        img {
          width: 50px;
        }
      }
      .shape-5 {
        bottom: 26%;
        right: 15px;
        -webkit-animation: slide-top 10s linear 0.3s infinite alternate-reverse
          both;
        animation: slide-top 10s linear 0.3s infinite alternate-reverse both;
        img {
          width: 80px;
        }
      }
      .shape-6 {
        top: 10%;
        left: 15px;
        animation: animationFramesOne 45s linear 0.5s infinite;
        -webkit-animation: animationFramesOne 45s linear 0.5s infinite;
        img {
          width: 40px;
        }
      }
    }
  }
}
