@use "../utils" as *;

/*----------------------------------------*/
/*  03. SLIDER CSS START
/*----------------------------------------*/

// Hero Slider 1

.hero-slider {
  &.one {
    .swiper {
      .swiper-wrapper {
        position: relative;
        .item-slider {
          height: 608px;
          position: relative;
          .slide-bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 1;
            z-index: 0;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            -webkit-transition: all 10s cubic-bezier(0, 0, 0.2, 1);
            transition: all 10s cubic-bezier(0, 0, 0.2, 1);
            mix-blend-mode: multiply;
          }
          .slider-content-inner {
            position: relative;
            z-index: 9;
            padding: 100px 0;
            .slider-title {
              font-size: var(--fz-h2);
              text-transform: capitalize;
              font-weight: var(--fw-800);
            }
            .description {
              margin-top: 20px;
            }
            .inner-btn {
              margin-top: 20px;
            }
          }
          .slider-content-inner-right {
            display: flex;
            justify-content: flex-end;
            .img-wrapper {
              position: relative;
              z-index: 9;
              width: 400px;
              height: 100%;
              overflow: hidden;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
      .shape-image {
        .inner-shape-1 {
          z-index: 9;
          top: 100px;
          left: 10px;
          img {
            width: 60px;
          }
        }
        .inner-shape-2 {
          z-index: 9;
          top: 40px;
          left: 550px;
          img {
            width: 40px;
          }
        }
        .inner-shape-3 {
          z-index: 9;
          top: 70px;
          left: 710px;
          img {
            width: 24px;
          }
        }
        .inner-shape-4 {
          z-index: 9;
          bottom: 74px;
          left: 104px;
          img {
            width: 20px;
          }
        }
        .inner-shape-5 {
          z-index: 9;
          bottom: 74px;
          left: 104px;
          img {
            width: 20px;
          }
        }
        .inner-shape-6 {
          z-index: 9;
          bottom: 151px;
          left: 44%;
          img {
            width: 50px;
          }
        }
        .inner-shape-7 {
          z-index: 9;
          right: 9%;
          top: 10%;
          img {
            width: 15px;
          }
        }
        .inner-shape-8 {
          z-index: 9;
          right: 3%;
          bottom: 18%;
          img {
            width: 45px;
          }
        }
        .inner-shape-9 {
          z-index: 9;
          right: 10%;
          bottom: 15%;
          img {
            width: 15px;
          }
        }
      }
    }
  }
}
