@use "../utils" as *;

/*----------------------------------------*/
/*  03. Team CSS START
/*----------------------------------------*/

.team-section {
  background: var(--common-body-2);
  padding: 120px 0;
  position: relative;
  z-index: 9;
  &.one {
    .section-title-shape-one {
      margin-bottom: 60px;
    }
    .swiper {
      z-index: 9;
      &.team-one {
        .swiper-wrapper {
          .swiper-slide {
            .inner-wrapper {
              .img-file {
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                .shape-overlay {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background: transparent;
                  text-align: center;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  transition: all 0.3s linear;
                  .inner-data {
                    margin-top: 70px;
                    h3 {
                      font-size: 20px;
                      font-weight: var(--fw-600);
                      margin: 0;
                      transition: all 0.4s linear;
                      transform: translateX(-140%);
                    }
                    p {
                      font-size: 14px;
                      line-height: 1.5;
                      margin-bottom: 0;
                      transition: all 0.4s linear;
                      transform: translateX(140%);
                    }
                    .social {
                      display: flex;
                      justify-content: center;
                      gap: 10px;
                      margin-top: 20px;
                      transition: all 0.4s linear;
                      transform: translateY(337%);
                      a {
                        width: 35px;
                        height: 35px;
                        background: linear-gradient(
                          180deg,
                          #243949 0%,
                          #00151e 100%
                        );
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        i {
                          font-size: 16px;
                          transition: all 0.1s linear;
                        }
                        &:hover {
                          animation: pulse-small 0.8s;
                          i {
                            color: var(--theme-1);
                          }
                        }
                      }
                    }
                  }
                }
                &:hover {
                  .shape-overlay {
                    background: #000000ba;
                    .inner-data {
                      h3,
                      p {
                        transform: translateX(0);
                      }
                      .social {
                        transform: translateY(0);
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .team-version-one-pagination {
      justify-content: center;
      margin-top: 40px;
    }

    .shape-image {
      .shape-img-1 {
        left: 15px;
        top: 30%;
        z-index: -1;
        -webkit-animation: slide-top 10s linear 0.3s infinite alternate-reverse
          both;
        animation: slide-top 10s linear 0.3s infinite alternate-reverse both;
        img {
          width: 50px;
        }
      }
      .shape-img-2 {
        right: 30%;
        top: 20%;
        z-index: -1;
        animation: animationFramesOne 25s linear infinite;
        -webkit-animation: animationFramesOne 25s linear infinite;
        img {
          width: 60px;
        }
      }
      .shape-img-3 {
        right: 50%;
        top: 25%;
        z-index: -1;
        animation: animationFramesOne 35s linear infinite;
        -webkit-animation: animationFramesOne 35s linear infinite;
        img {
          width: 20px;
        }
      }
      .shape-img-4 {
        right: 5%;
        top: 20%;
        z-index: -1;
        -webkit-animation: rotate-in-center 12s linear 0s infinite reverse
          backwards;
        animation: rotate-in-center 12s linear 0s infinite reverse backwards;
        img {
          width: 30px;
        }
      }
      .shape-img-5 {
        left: 5%;
        bottom: 20%;
        z-index: -1;
        animation: animationFramesOne 25s linear infinite;
        -webkit-animation: animationFramesOne 25s linear infinite;
        img {
          width: 30px;
        }
      }
      .shape-img-6 {
        right: 15px;
        bottom: 8%;
        z-index: -1;

        img {
          width: 60px;
        }
      }
    }
  }
}
