@use "../utils" as *;

/*----------------------------------------*/
/*  03. Testimonial CSS START
/*----------------------------------------*/

.testimonial-section {
  position: relative;
  &.one {
    background: var(--common-body-1);
    padding: 120px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9;
    overflow: hidden;
    .section-title-shape-one {
      margin-bottom: 70px;
    }
    .swiper {
      z-index: 9;
      &.testimonial-one {
        .swiper-wrapper {
          .swiper-slide {
            .inner-wrapper {
              background: var(--common-gd);
              border-radius: 10px;
              padding: 40px 40px;
              .intro-body {
                display: flex;
                align-items: center;
                gap: 15px;
                .img-file {
                  width: 80px;
                  height: 80px;
                  overflow: hidden;
                  border-radius: 100%;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                  }
                }
                .text-file {
                  h3 {
                    font-size: 22px;
                    font-weight: var(--fw-600);
                    margin: 0px;
                    line-height: normal;
                    text-transform: capitalize;
                  }
                  h5 {
                    font-size: 14px;
                    font-weight: var(fw-normal);
                    line-height: normal;
                    margin: 0;
                    margin-top: 5px;
                    text-transform: capitalize;
                  }
                }
              }
              .review {
                margin-top: 20px;
                position: relative;
                p {
                  font-size: 15px;
                  margin: 0;
                }
                .star {
                  margin-top: 20px;
                  display: flex;
                  gap: 5px;
                  i {
                    color: #f7d800;
                  }
                }
                .shape {
                  display: flex;
                  justify-content: flex-end;
                  position: absolute;
                  top: 96px;
                  right: 25px;
                  i {
                    font-size: 60px;
                    color: var(--common-white);
                  }
                }
              }
            }
          }
        }
      }
    }
    .shape-image {
      .shape-1 {
        left: 20px;
        top: 20%;
        width: 30px;
        z-index: -1;
        -webkit-animation: slide-top 10s linear 0.3s infinite alternate-reverse
          both;
        animation: slide-top 10s linear 0.3s infinite alternate-reverse both;
      }
      .shape-2 {
        right: 26px;
        top: 49%;
        width: 18px;
        z-index: -1;
      }
      .shape-3 {
        right: 98px;
        bottom: 9%;
        width: 36px;
        z-index: -1;
        animation: animationFramesOne 25s linear 0.8s infinite;
        -webkit-animation: animationFramesOne 25s linear 0.8s infinite;
      }
      .shape-4 {
        left: 18%;
        top: 13%;
        width: 50px;
        z-index: -1;
        -webkit-animation: scale-down-center 5s linear infinite
          alternate-reverse both;
        animation: scale-down-center 5s linear infinite alternate-reverse both;
      }
      .shape-5 {
        right: 18%;
        top: 13%;
        width: 130px;
        z-index: -1;
        animation: animationFramesOne 60s linear 0.8s infinite;
        -webkit-animation: animationFramesOne 60s linear 0.8s infinite;
        opacity: 0.5;
      }
      .shape-6 {
        right: 42%;
        top: 5%;
        width: 24px;
        z-index: -1;
        animation: animationFramesOne 40s linear 0.8s infinite alternate-reverse
          forwards;
        -webkit-animation: animationFramesOne 40s linear 0.8s infinite
          alternate-reverse forwards;
      }
    }
  }
}
